@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

//body background
$body-bg : #008f5d;

//text color
$body-color: #008f5d;

//Pagination
$pagination-bg: #f0f8ff;
$pagination-hover-bg: #cce7ff;
$pagination-active-bg: #007bff;
$pagination-active-color: #fff;


@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;

    .amarillo {
        color: #FFF400;
    }

    .rojo {
        color: #fe2116;
    }

    main {
        padding: 150px 0;
    }
}


/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    footer {
        font-size: 18px;
    }

}