@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$body-bg : #008f5d;

// $body-color: #2E2EFE;

$primary: #008f5d;

// $secondary: #819FF7;


@import "../../node_modules/bootstrap/scss/bootstrap";

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
}

.title {
  color: #FFF400;
}

.formTitle,.cursoTitle {
  color: #fe2116;
}


main {
  padding: 150px 0;
}


/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  main {
      padding: 120px 0;
  }

  .nav-link,
  footer {
      font-size: 16px;
  }

  nav #titulo{
      font-size: 24px;
  }


  nav img {
      width: 64px;
  }

}